<% provide(:title, "Home") %>
<div class="row">
  <div class="leftcolumn">
    <h1>Posts</h1>
    <%= link_to "Create Post", new_post_path %>
    <button id="testButton" onclick="testButton()">Test button</button>
    <div id="container"></div>
    <%= render 'posts/post' %>
  </div>
</div>