<% provide(:title, "Home") %>
<div class="row">
  <div class="leftcolumn">
    <h1>Posts</h1>
    <button id="newPost" onclick="newPost()">New Post</button>
    <div id="newComment"></div>
    <%= render 'posts/post' %>
  </div>
</div>