<% @posts.each do |post| %>
  <div class="card">
    <h2>TITLE HEADING</h2>
    <h5>Posted <%= post.created_at %></h5>
    <p>Some text..</p>
    <p><%= post.content %></p>
    <br>
  </div>
<% end %>