<div class="header">
  <h2>Blog Name</h2>
</div>

<div class="topnav">
  <%= link_to "Home", '#' %>
  <%= link_to "News", '#' %>
  <%= link_to "About", '#' %>
  <span style="float:right"><%= link_to "Contact", '#' %></span>
</div>